﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Register TagPrefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Import Namespace="Microsoft.SharePoint" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>

<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MyCart.aspx.cs" Inherits="TAVIA.SharePoint.Club0803.SitePagesModule.MyCart" MasterPageFile="~masterurl/default.master" %>

<asp:Content ID="PageHead" ContentPlaceHolderID="PlaceHolderAdditionalPageHead" runat="server">
    <style>
        #sideNavBox {
            display: none;
        }

        #contentBox {
            margin-right: 20px;
            margin-left: 20px;
        }

        .h4, h4 {
            font-size: 1.5rem;
        }

        #s4-ribbonrow {
            display: none !important;
        }

        #s4-titlerow {
            display: none !important;
        }

        .ms-core-pageTitle {
            display: none !important;
        }
    </style>

    <sharepoint:uiversionedcontent id="UIVersionedContent1" uiversion="4" runat="server">
        <contenttemplate>
		<SharePoint:CssRegistration Name="forms.css" runat="server"/>
	</contenttemplate>
    </sharepoint:uiversionedcontent>

    <link href="/_layouts/15/club0803/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/style.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/responsive.dataTables.min.css" rel="stylesheet" />

    <script src="/_layouts/15/club0803/js/jquery.min.js"></script>
    <script src="/_layouts/15/club0803/js/bootstrap.min.js"></script>
    <script src="/_layouts/15/club0803/js/script.js"></script>
    <script src="/_layouts/15/club0803/js/jquery.dataTables.min.js"></script>
    <script src="/_layouts/15/club0803/js/dataTables.responsive.min.js"></script>

</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="PlaceHolderMain" runat="server">
    <section class="col-md-12 form-container pb-3">
        <h2 class="title-container text-center py-3">My Cart</h2>
        <div class="form-bg">
            <div class="row p-3">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-3">
                    <table id="example" class="display table-bordered responsive nowrap" style="width: 100%">
                        <thead style="background-color: black; color: #fff;">
                            <tr>
                                <th>S/N</th>
                                <th>Image</th>
                                <th>Discounted Item</th>
                                <th>Vendor</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <asp:Repeater ID="repCartItems" runat="server" OnItemCommand="repCartItems_ItemCommand">
                                <ItemTemplate>
                                    <tr>
                                        <td><%# Container.ItemIndex+1 %></td>
                                        <td>
                                            <img src='<%# DataBinder.Eval(Container.DataItem, "ImgUrl") %>' class="img-fluid" style="max-width: 200px; max-height: 150px;"></td>
                                        <td><a href='ViewDiscountedItem.aspx?ID=<%# DataBinder.Eval(Container.DataItem, "DiscountedItemID") %>'><%# DataBinder.Eval(Container.DataItem, "DiscountedItem") %></a></td>
                                        <td><%# DataBinder.Eval(Container.DataItem, "Vendor") %></td>
                                        <td>
                                            <label class="font-weight-bold">Quantity</label>
                                            <%--<input ID="productQuantity"  Width="30px" runat="server" />--%>
                                            <asp:TextBox ID="productQuantity"  Width="70px" runat="server" Text="1" ></asp:TextBox>                                             
                                            <%--<asp:RequiredFieldValidator ID="rfvproductQuantity" ControlToValidate="productQuantity" runat="server" 
                                                ErrorMessage="Quantity Required"></asp:RequiredFieldValidator>--%>
                                      
                                            <asp:Button ID="imgbtnDelete" runat="server" CommandName="DeleteItem" CausesValidation="false" CommandArgument='<%#Eval("ID") %>' Text="Remove" CssClass="btn mtn-btn" OnClientClick="return confirm('Are you sure you want to remove this item?');" />
                                        </td>
                                    </tr>
                                </ItemTemplate>
                            </asp:Repeater>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mtn-divider m-0 px-3" />
            </div>

            <!-- button section -->
            <div class="col-md-12 py-2 text-center">
                <div class="row btn-div text-center">
                    <asp:CustomValidator ID="cvSubmit" runat="server" ErrorMessage="Your cart is empty. Please add items to the cart before submitting your order."
                        class="ms-error" Display="Dynamic" SetFocusOnError="true" OnServerValidate="cvSubmit_ServerValidate"></asp:CustomValidator>
                    <asp:CheckBox runat="server" ID="cbxConfirmation" />
                    <asp:CustomValidator class="ms-error" ID="cvConfirmation" runat="server" ErrorMessage="<br />You can't leave this blank."
                        ClientValidationFunction="ValidateConfirmation"
                        OnServerValidate="ValidateConfirmation_ServerSide" Display="Dynamic"></asp:CustomValidator>
                </div>
                <div class="row btn-div text-center py-2">
                    <asp:Button ID="btnSubmit" class="btn mtn-btn mr-3" runat="server" Text="Submit Order" OnClick="btnSubmit_Click" />
                    <asp:Button ID="btnCancel" class="btn mtn-btn mr-3" CausesValidation="false" runat="server" Text="Continue Shopping" OnClick="btnCancel_Click" />
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });

        function ValidateConfirmation(oSrc, args) //Validate the Confirmation Checkbox is checked before submit
        {
            args.IsValid = document.getElementById('ctl00_PlaceHolderMain_cbxConfirmation').checked;
        }

    </script>

</asp:Content>

<asp:Content ID="PageTitle" ContentPlaceHolderID="PlaceHolderPageTitle" runat="server">
    Club0803 - My Cart
</asp:Content>

<asp:Content ID="PageTitleInTitleArea" ContentPlaceHolderID="PlaceHolderPageTitleInTitleArea" runat="server" />
